

.contenedor__testimonio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 300px;
    max-width: 450px;
    background-color: rgb(226, 226, 226);
    padding: 1em 2em;
    border-radius: 1em;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}



.contenedor__testimonio__img{
    height: 100px;
    border-radius: 100%;
    
}

.contenedor__testimonio__textos__nombre{
    font-size: 2rem;
    line-height: .50em;
    margin-bottom: 15px;
}

.contenedor__testimonio__textos__cargo{
    color: grey;
}


.contenedor__testimonio__textos{
    color: rgb(28, 28, 28);
    text-align: center;
}

/* media */

@media (max-width:450px){
    .contenedor__testimonio{
     height: 300px; 
     width: 70%; 
    }
}