.App{
  
  min-height: 100vh;
}

.App__contenedor__principal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.App__contenedor__principal__titulo{
  font-size: 3rem;
  margin: 1em;
  color: rgb(19, 19, 19);
}